# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Virtual Studio code
.vscode/

# dotenv environment variables file
.env

# Mac files
.DS_Store
