# Copy this file to .env and replace the credentials with
# your own before starting the app.

#----------------------------------------------------------
# IBM Cloud
#
# If your services are running on IBM Cloud,
# uncomment and configure these.
# Remove or comment out the IBM Cloud Pak for Data sections.
#----------------------------------------------------------

# Watson Assistant
# ASSISTANT_AUTH_TYPE=iam
# ASSISTANT_APIKEY=<add_assistant_apikey>
# ASSISTANT_URL=<add_assistant_url>
# ASSISTANT_ID=<add_assistant_id>

#----------------------------------------------------------
# IBM Cloud Pak for Data (username and password)
#
# If your services are running on IBM Cloud Pak for Data,
# uncomment and configure these.
# Remove or comment out the IBM Cloud section.
#----------------------------------------------------------

## CPD Cluster URL should be in the form:
## https://{cpd_cluster_host}{:port}
## Service URLs should be in the form:
## https://{cpd_cluster_host}{:port}/{service}/{release}/instances/{instance_id}/api

# Watson Assistant
# ASSISTANT_AUTH_TYPE=cp4d
# ASSISTANT_AUTH_URL=<add_cpd_url>
# ASSISTANT_USERNAME=<add_cpd_username>
# ASSISTANT_PASSWORD=<add_cpd_password>
# ASSISTANT_URL=<add_assistant_instance_url>
# # If you use a self-signed certificate, you need to disable SSL verification.
# # This is not secure and not recommended.
## ASSISTANT_AUTH_DISABLE_SSL=true
## ASSISTANT_DISABLE_SSL=true
# ASSISTANT_ID=<add_assistant_id>

##
# # Optional: Instead of the above IBM Cloud Pak for Data credentials...
# # For testing and development, you can use the bearer token that's displayed
# # in the IBM Cloud Pak for Data web client. To find this token, view the
# # details for the provisioned service instance. The details also include the
# # service endpoint URL. Only disable SSL if necessary (insecure).
# # Don't use this token in production because it does not expire.
# #

# Watson Assistant
# ASSISTANT_AUTH_TYPE=bearertoken
# ASSISTANT_BEARER_TOKEN=<add_speech-to-text_bearertoken>
# ASSISTANT_AUTH_URL=<add_cpd_url>
# ASSISTANT_URL=<add_assistant_instance_url>
## ASSISTANT_DISABLE_SSL=true
# ASSISTANT_ID=<add_assistant_id>

# Run locally on a non-default port (default is 3000)
# PORT=3000
